content/inClassProblems/week2.Rmd
content/inClassProblems/week3.Rmd
content/inClassProblems/week4.Rmd
content/inClassProblems/week5.Rmd
content/inClassProblems/week6.Rmd
content/inClassProblems/week7.Rmd
content/inClassProblems/week8.Rmd
content/inClassProblems/week9.Rmd
content/inClassProblems/week10.Rmd
content/inClassProblems/week11.Rmd
content/inClassProblems/week12.Rmd
content/inClassProblems/week13.Rmd
content/inClassProblems/week14.Rmd

content/inClassProblems/week2.html
content/inClassProblems/week3.html
content/inClassProblems/week4.html
content/inClassProblems/week5.html
content/inClassProblems/week6.html
content/inClassProblems/week7.html
content/inClassProblems/week8.html
content/inClassProblems/week9.html
content/inClassProblems/week10.html
content/inClassProblems/week11.html
content/inClassProblems/week12.html
content/inClassProblems/week13.html
content/inClassProblems/week14.html